.ferst{
    height: 100vh;
    background-image: url("../img/bg_1.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
}

.ferst > h1{
    font-weight: 500;
}

.ferst > h1, .ferst > h4, .block_3 > h5, .finish > h2{
    color: white;
}

.block_2, .block_3{
    height: 50vh;
}

.block_2 > h4{
    font-size: 33px;
}

.block_3 > h4{
    color: #8a2d2b
}

.block_3 > h5{
    font-weight: 500;
}


.finish{
    height: 75vh;
    background-image: url("../img/bg2.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #6e6e6e;
}

.finish > h2{
    font-size: 54px;
    max-width: 400px;
}


@media (max-width: 425px){
    .ferst{height: 50vh;}
    .ferst > h4{font-size: 27px;}
    .block_3{height: 75vh;}

}